<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Dylan | Responsive Multi-Purpose HTML Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="stylesheet" href="css/hody-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Tangerine:400" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Preloader-->
    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Navigation Bar-->
    <header class="dark-menu" id="topnav">
      <div class="container">
        <!-- Logo container-->
        <div class="logo">
          <a href="index.html">
            <img class="logo-light" src="images/logo_light.png" alt="">
            <img class="logo-dark" src="images/logo_dark.png" alt="">
          </a>
        </div>
        <!-- End Logo container-->
        <div class="menu-extras">
          <div class="menu-item toggle-nav">
            <!-- Mobile menu toggle-->
            <a class="menu-toggle" href="#">
              <div class="toggle-inner"></div>
            </a>
            <!-- End mobile menu toggle-->
          </div>
        </div>
        <div class="right-aligned-menu" id="navigation">
          <ul class="navigation-menu nav">
            <li><a href="#home" data-scroll="true">Home</a>
            </li>
            <li><a href="#intro" data-scroll="true">Who We Are</a>
            </li>
            <li><a href="#releases" data-scroll="true">New Releases</a>
            </li>
            <li><a href="#tour" data-scroll="true">Tour</a>
            </li>
            <li><a href="#videoclip" data-scroll="true">Videoclip</a>
            </li>
            <li class="menu-btn-item"><a href="#" data-scroll="true">Get New Album</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- End Navigation Bar-->
    <section id="home">
      <div class="flexslider" id="home-slider">
        <ul class="slides">
          <li>
            <img src="images/bg-image-39.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content">
                <div class="container">
                  <h1 class="font-variant-small-caps serif">Midnight Expedition</h1>
                  <h5 class="serif">New album out in October</h5>
                  <p class="mt-25"><a class="btn btn-light-out" href="#">Pre-order Now<span class="btn-icon"><i class="hc-apple"></i></span></a>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="dark-bg" id="intro">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <div class="title center">
            <h2 class="upper">New Album</h2>
          </div>
          <div class="section-content mb-25 text-center">
            <p class="serif font-18">Rem dignissimos dicta mollitia nostrum hic harum perspiciatis et nulla quidem ullam inventore dolores repellendus eius, itaque ducimus impedit voluptate, repudiandae enim! Placeat, ipsa eum illo tempore provident, ratione doloremque autem
              officiis commodi eveniet, exercitationem.</p>
          </div>
          <div class="btn-container text-center">
            <a class="btn btn-image" href="#">
              <img src="images/itunes.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="parallax-bg" id="releases">
      <div class="row-parallax-bg">
        <div class="parallax-wrapper">
          <div class="parallax-bg-element">
            <img src="images/bg-image-23.jpg" alt="">
          </div>
        </div>
        <div class="parallax-overlay"></div>
      </div>
      <div class="container">
        <div class="col-sm-12 col-md-offset-1 col-md-10">
          <div class="title center mb-50">
            <h2 class="upper">New Releases</h2>
          </div>
          <div class="box outlined">
            <div class="row">
              <div class="col-sm-6">
                <ul class="dylan-menu">
                  <li class="menu-item-with-text">
                    <h4><span class="dylan-menu-title">Hurricane</span></h4>
                    <p class="dylan-menu-text">Midnight Expedition.</p>
                  </li>
                  <li class="menu-item-with-text">
                    <h4><span class="dylan-menu-title">Blowin in The Wind</span></h4>
                    <p class="dylan-menu-text">Midnight Expedition.</p>
                  </li>
                  <li class="menu-item-with-text">
                    <h4><span class="dylan-menu-title">Forever Young</span></h4>
                    <p class="dylan-menu-text">Midnight Expedition.</p>
                  </li>
                  <li class="menu-item-with-text">
                    <h4><span class="dylan-menu-title">Lay Lady Lay</span></h4>
                    <p class="dylan-menu-text">Midnight Expedition.</p>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="dylan-menu">
                  <li class="menu-item-with-text">
                    <h4><span class="dylan-menu-title">Just Like a Woman</span></h4>
                    <p class="dylan-menu-text">Midnight Expedition.</p>
                  </li>
                  <li class="menu-item-with-text">
                    <h4><span class="dylan-menu-title">Tangled Up In Blue</span></h4>
                    <p class="dylan-menu-text">Midnight Expedition.</p>
                  </li>
                  <li class="menu-item-with-text">
                    <h4><span class="dylan-menu-title">I Want You</span></h4>
                    <p class="dylan-menu-text">Midnight Expedition.</p>
                  </li>
                  <li class="menu-item-with-text">
                    <h4><span class="dylan-menu-title">I Shall Be Released</span></h4>
                    <p class="dylan-menu-text">Midnight Expedition.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="dark-bg" id="tour">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="title">
              <h2 class="upper">World Tour</h2>
            </div>
            <div class="section-content pt-25 pb-25">
              <ul class="dylan-menu">
                <li class="menu-item-with-text">
                  <h4><span class="dylan-menu-title">NYC, New York<span class="dylan-menu-value">May 26</span></span></h4>
                  <p class="dylan-menu-text">Bowery Ballroom</p>
                </li>
                <li class="menu-item-with-text">
                  <h4><span class="dylan-menu-title">Miami, Florida<span class="dylan-menu-value">May 28</span></span></h4>
                  <p class="dylan-menu-text">Lincoln Hall</p>
                </li>
                <li class="menu-item-with-text">
                  <h4><span class="dylan-menu-title">San Francisco, CA<span class="dylan-menu-value">May 30</span></span></h4>
                  <p class="dylan-menu-text">The Fillmore</p>
                </li>
                <li class="menu-item-with-text">
                  <h4><span class="dylan-menu-title">Golden, CO<span class="dylan-menu-value">June 2</span></span></h4>
                  <p class="dylan-menu-text">Red Rocks Amphitheatre</p>
                </li>
                <li class="menu-item-with-text">
                  <h4><span class="dylan-menu-title">Minneapolis, MN<span class="dylan-menu-value">June 4</span></span></h4>
                  <p class="dylan-menu-text">First Avenue</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-md-offset-1">
            <div class="title">
              <h2 class="upper">Hear New Songs</h2>
            </div>
            <div class="section-content pt-25 pb-25">
              <iframe width="500" height="450" src="https://w.soundcloud.com/player/?visual=true&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F27082&amp;show_artwork=true&amp;maxwidth=500&amp;maxheight=750"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="parallax-bg simple-parallax" id="videoclip">
      <div class="row-parallax-bg">
        <div class="parallax-wrapper">
          <div class="parallax-bg-element">
            <img src="images/bg-image-37.jpg" alt="">
          </div>
        </div>
        <div class="parallax-overlay"></div>
      </div>
      <div class="container">
        <div class="play-button" data-src="https://www.youtube.com/embed/QEphsKl1g9M?autoplay=1"><i class="hc-play"></i>
        </div>
      </div>
    </section>
    <section class="dark-bg pt-50 pb-50">
      <div class="container">
        <div class="col-sm-12 col-md-offset-3 col-md-6">
          <ul class="social-list text-center">
            <li class="social-item-facebook"><a href="#" target="_blank"><i class="hc-facebook"></i></a>
            </li>
            <li class="social-item-twitter"><a href="#" target="_blank"><i class="hc-twitter-alt"></i></a>
            </li>
            <li class="social-item-youtube"><a href="#" target="_blank"><i class="hc-youtube"></i></a>
            </li>
            <li class="social-item-instagram"><a href="#" target="_blank"><i class="hc-instagram"></i></a>
            </li>
            <li class="social-item-tumblr"><a href="#" target="_blank"><i class="hc-tumblr-alt"></i></a>
            </li>
            <li class="social-item-pinterest"><a href="#" target="_blank"><i class="hc-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div id="search-modal">
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <div class="search-form">
              <!-- Search Form-->
              <form class="searchform">
                <div class="input-group">
                  <input class="form-control" type="search" data-required="required" name="s" placeholder="Search..." value=""><span class="input-group-btn"><button class="btn btn-color" type="submit"><span><i class="hc-search"></i></span>
                  </button>
                  </span>
                </div>
              </form>
              <!-- End Search Form-->
            </div>
          </div>
        </div>
      </div>
      <a id="close-search-modal" href="#">
        <i class="hc-close"></i>
      </a>
    </div>
    <div class="go-top">
      <a href="#top">
        <i class="hc-angle-up"></i>
      </a>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bundle.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNGOsBBZo9vf0Tw4w6aJiilSTFVfQ5GPI"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>

</html>