<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Dylan | Responsive Multi-Purpose HTML Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="stylesheet" href="css/hody-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Tangerine:400" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="left-navbar">
    <!-- Preloader-->
    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Preloader-->
    <nav class="dark-menu" id="aside-nav">
      <div class="logo">
        <a href="index.html">
          <img class="logo-light" src="images/logo_light.png" alt="">
        </a>
      </div>
      <div id="navigation">
        <ul class="navigation-menu nav">
          <li class="menu-item-has-children has-megamenu">
            <a href="#">Home</a>
            <ul class="submenu megamenu">
              <li class="menu-item-has-children">
                <span>Home Layouts</span>
                <ul class="sub-menu">
                  <li>
                    <a href="index.html">Classic Agency</a>
                  </li>
                  <li>
                    <a href="home-creative-agency.html">Creative Agency</a>
                  </li>
                  <li>
                    <a href="home-corporate.html">Corporate</a>
                  </li>
                  <li>
                    <a href="home-resume.html">Resume</a>
                  </li>
                  <li>
                    <a href="home-online-shop.html">Online Shop</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span>Home Layouts</span>
                <ul class="sub-menu">
                  <li>
                    <a href="home-architecture.html">Architecture</a>
                  </li>
                  <li>
                    <a href="home-restaurant.html">Restaurant</a>
                  </li>
                  <li>
                    <a href="home-photography.html">Photography</a>
                  </li>
                  <li>
                    <a href="home-construction.html">Construction</a>
                  </li>
                  <li>
                    <a href="home-gym.html">Fitness / Gym</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span>Home Layouts</span>
                <ul class="sub-menu">
                  <li>
                    <a href="home-startup.html">Startup</a>
                  </li>
                  <li>
                    <a href="home-app-landing.html">App Landing</a>
                  </li>
                  <li>
                    <a href="home-lawyer.html">Lawyer</a>
                  </li>
                  <li>
                    <a href="home-barber-shop.html">Barber Shop</a>
                  </li>
                  <li>
                    <a href="home-music.html">Music</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span>Home Layouts</span>
                <ul class="sub-menu">
                  <li>
                    <a href="home-product-landing.html">Product Landing</a>
                  </li>
                  <li>
                    <a href="home-travel.html">Travel</a>
                  </li>
                  <li>
                    <a href="home-event.html">Event</a>
                  </li>
                  <li>
                    <a href="home-wedding.html">Wedding</a>
                  </li>
                  <li>
                    <a href="home-spa.html">SPA</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Pages</a>
            <ul class="submenu">
              <li class="menu-item-has-children">
                <a href="#">About</a>
                <ul class="submenu">
                  <li>
                    <a href="page-about.html">About Us</a>
                  </li>
                  <li>
                    <a href="page-about-me.html">About Me</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Services</a>
                <ul class="submenu">
                  <li>
                    <a href="page-services.html">Services Creative</a>
                  </li>
                  <li>
                    <a href="page-services-simple.html">Services Simple</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Contact</a>
                <ul class="submenu">
                  <li>
                    <a href="page-contact.html">Contact Creative</a>
                  </li>
                  <li>
                    <a href="page-contact-simple.html">Contact Simple</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Portfolio</a>
            <ul class="submenu">
              <li class="menu-item-has-children">
                <a href="#">Boxed</a>
                <ul class="submenu">
                  <li>
                    <a href="portfolio-boxed-2-columns.html">2 Columns</a>
                  </li>
                  <li>
                    <a href="portfolio-boxed-3-columns.html">3 Columns</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Wide</a>
                <ul class="submenu">
                  <li>
                    <a href="portfolio-wide-2-columns.html">2 Columns</a>
                  </li>
                  <li>
                    <a href="portfolio-wide-3-columns.html">3 Columns</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Single Work</a>
                <ul class="submenu">
                  <li>
                    <a href="portfolio-single-1.html">Images Slider</a>
                  </li>
                  <li>
                    <a href="portfolio-single-2.html">Image Boxes</a>
                  </li>
                  <li>
                    <a href="portfolio-single-3.html">Video Project</a>
                  </li>
                  <li>
                    <a href="portfolio-single-4.html">Images Gallery</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Blog</a>
            <ul class="submenu">
              <li><a href="blog-metro.html">Blog Metro</a>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Standard</a>
                <ul class="submenu">
                  <li>
                    <a href="blog.html">No Sidebar</a>
                  </li>
                  <li>
                    <a href="blog-right-sidebar.html">Right Sidebar</a>
                  </li>
                  <li>
                    <a href="blog-left-sidebar.html">Left Sidebar</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Masonry Cards</a>
                <ul class="submenu">
                  <li>
                    <a href="blog-masonry.html">Large Cards</a>
                  </li>
                  <li>
                    <a href="blog-masonry-small.html">Small Cards</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Single Post</a>
                <ul class="submenu">
                  <li>
                    <a href="single-post.html">No Sidebar</a>
                  </li>
                  <li>
                    <a href="single-post-sidebar.html">Right Sidebar</a>
                  </li>
                  <li>
                    <a href="single-post-left-sidebar.html">Left Sidebar</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Shop</a>
            <ul class="submenu">
              <li class="menu-item-has-children">
                <a href="#">Shop Layout</a>
                <ul class="submenu">
                  <li>
                    <a href="shop-2-col.html">2 Columns</a>
                  </li>
                  <li>
                    <a href="shop.html">3 Columns</a>
                  </li>
                  <li>
                    <a href="shop-4-col.html">4 Columns</a>
                  </li>
                </ul>
              </li>
              <li><a href="shop-single.html">Single Product</a>
              </li>
              <li><a href="shop-cart.html">Cart</a>
              </li>
              <li><a href="shop-checkout.html">Checkout</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-has-children has-megamenu">
            <a href="#">Elements</a>
            <ul class="submenu megamenu">
              <li><span>Elements</span>
                <ul class="sub-menu">
                  <li>
                    <a href="elements-accordions.html">Accordions</a>
                  </li>
                  <li>
                    <a href="elements-alerts.html">Alerts</a>
                  </li>
                  <li>
                    <a href="elements-buttons.html">Buttons</a>
                  </li>
                  <li>
                    <a href="elements-countdowns.html">Countdowns</a>
                  </li>
                </ul>
              </li>
              <li><span>Elements</span>
                <ul class="sub-menu">
                  <li>
                    <a href="elements-grid.html">Grid</a>
                  </li>
                  <li>
                    <a href="elements-icon-boxes.html">Icon Boxes</a>
                  </li>
                  <li>
                    <a href="elements-icons.html">Icons</a>
                  </li>
                  <li>
                    <a href="elements-pricing-tables.html">Pricing Tables</a>
                  </li>
                </ul>
              </li>
              <li><span>Elements</span>
                <ul class="sub-menu">
                  <li>
                    <a href="elements-progress-bars.html">Progress Bars</a>
                  </li>
                  <li>
                    <a href="elements-sliders.html">Sliders</a>
                  </li>
                  <li>
                    <a href="elements-tabs.html">Tabs</a>
                  </li>
                  <li>
                    <a href="elements-typography.html">Typography</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu-extras">
        <div class="menu-item toggle-nav">
          <!-- Mobile menu toggle-->
          <a class="menu-toggle" href="#">
            <div class="toggle-inner"></div>
          </a>
          <!-- End mobile menu toggle-->
        </div>
      </div>
    </nav>
    <section id="home">
      <div class="flexslider" id="home-slider">
        <ul class="slides">
          <li>
            <img src="images/bg-image-45.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content text-left">
                <div class="container">
                  <h1 class="font-weight-400 lts-large upper font-medium">Fashion<br>Photography</h1>
                  <p class="mt-25"><a class="btn btn-light-out" href="#">What We Do</a>
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <img src="images/bg-image-47.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content text-left">
                <div class="container">
                  <h1 class="font-weight-400 lts-large upper font-medium">Premium<br>Style</h1>
                  <p class="mt-25"><a class="btn btn-light-out" href="#">View Portfolio</a>
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <img src="images/bg-image-46.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content text-left">
                <div class="container">
                  <h1 class="font-weight-400 lts-large upper font-medium">Creativity<br>Inside</h1>
                  <p class="mt-25"><a class="btn btn-light-out" href="#">Hire Us</a>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="container">
        <p class="font-weight-300 font-32 black-text">We are an independent, award-winning photography studio based in Stockholm, Sweden.</p>
        <div class="btn-container text-left mt-25"><a class="btn btn-dark-out" href="#">View Albums</a>
        </div>
      </div>
    </section>
    <section class="p-0">
      <div class="container-fluid">
        <div class="row">
          <ul class="photo-gallery">
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-18.jpg">
                    <img src="images/gallery-image-18-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-17.jpg">
                    <img src="images/gallery-image-17-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-19.jpg">
                    <img src="images/gallery-image-19-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-20.jpg">
                    <img src="images/gallery-image-20-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-23.jpg">
                    <img src="images/gallery-image-23-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-21.jpg">
                    <img src="images/gallery-image-21-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-22.jpg">
                    <img src="images/gallery-image-22-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-24.jpg">
                    <img src="images/gallery-image-24-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-26.jpg">
                    <img src="images/gallery-image-26-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-25.jpg">
                    <img src="images/gallery-image-25-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-27.jpg">
                    <img src="images/gallery-image-27-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
            <li>
              <figure>
                <div class="gallery-item">
                  <a href="images/gallery-image-28.jpg">
                    <img src="images/gallery-image-28-thumb.jpg" alt="">
                    <div class="gallery-caption">
                      <div class="centrize">
                        <div class="v-center"><i class="hc-search"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer id="footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-md-7 ov-h">
            <div class="row">
              <div class="col-sm-4">
                <div class="widget clearfix">
                  <h5>About Dylan</h5>
                  <div class="textwidget">
                    <p>
                      <span>350 5th Ave</span>
                      <br><span>New York, NY 10118</span>
                      <br><span>hello@dylan.co</span>
                    </p>
                    <h5>+1 301-736-4321</h5>
                    <p>
                      <a class="mt-15 btn btn-color btn-sm" href="#">Contact Us</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="widget clearfix">
                  <h5>The Company</h5>
                  <div class="menu-footer-1-container">
                    <ul class="menu">
                      <li><a href="#">Who We Are</a>
                      </li>
                      <li><a href="#">Services</a>
                      </li>
                      <li><a href="#">Careers</a>
                      </li>
                      <li><a href="#">Culture</a>
                      </li>
                      <li><a href="#">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="widget clearfix">
                  <h5>Recent Posts</h5>
                  <ul>
                    <li><a href="#">Minimum Viable DevOps</a>
                    </li>
                    <li><a href="#">How to Get What You Want</a>
                    </li>
                    <li><a href="#">Answering Everything</a>
                    </li>
                    <li><a href="#">Startup Rules</a>
                    </li>
                    <li><a href="#">Email Can Wait</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <div class="row">
              <div class="col-md-12">
                <div class="widget clearfix">
                  <h5>Get Our Newsletter</h5>
                  <div class="footer-newsletter">
                    <p class="serif">Sign Up to get the latest updates.</p>
                    <form class="newsletter-form" data-mailchimp="true" data-url="http://hody.us12.list-manage.com/subscribe/post?u=d9d1052c1b2ba81576842a9fb&amp;id=c70c5d0c82">
                      <div class="input-group">
                        <input class="form-control" type="email" name="EMAIL" placeholder="Email"><span class="input-group-btn"><button class="btn newsletter-btn" type="submit">Subscribe</button></span>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="widget clearfix">
                  <h5>Follow Us</h5>
                  <ul class="social-list">
                    <li class="social-item-facebook"><a target="_blank" href="#"><i class="hc-facebook"></i></a>
                    </li>
                    <li class="social-item-twitter"><a target="_blank" href="#"><i class="hc-twitter"></i></a>
                    </li>
                    <li class="social-item-instagram"><a target="_blank" href="#"><i class="hc-instagram"></i></a>
                    </li>
                    <li class="social-item-dribbble"><a target="_blank" href="#"><i class="hc-dribbble"></i></a>
                    </li>
                    <li class="social-item-youtube"><a target="_blank" href="#"><i class="hc-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <footer id="footer">
      <div class="container">
        <div class="copy-text">
          <p>© 2016 Dylan. All rights reserved.</p>
        </div>
      </div>
    </footer>
    <div id="search-modal">
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <div class="search-form">
              <!-- Search Form-->
              <form class="searchform">
                <div class="input-group">
                  <input class="form-control" type="search" data-required="required" name="s" placeholder="Search..." value=""><span class="input-group-btn"><button class="btn btn-color" type="submit"><span><i class="hc-search"></i></span>
                  </button>
                  </span>
                </div>
              </form>
              <!-- End Search Form-->
            </div>
          </div>
        </div>
      </div>
      <a id="close-search-modal" href="#">
        <i class="hc-close"></i>
      </a>
    </div>
    <div class="go-top">
      <a href="#top">
        <i class="hc-angle-up"></i>
      </a>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bundle.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNGOsBBZo9vf0Tw4w6aJiilSTFVfQ5GPI"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>

</html>