<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Dylan | Responsive Multi-Purpose HTML Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="stylesheet" href="css/hody-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Tangerine:400" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Preloader-->
    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Navigation Bar-->
    <header id="topnav">
      <div class="container">
        <!-- Logo container-->
        <div class="logo">
          <a href="index.html">
            <img class="logo-light" src="images/logo_light.png" alt="">
            <img class="logo-dark" src="images/logo_dark.png" alt="">
          </a>
        </div>
        <!-- End Logo container-->
        <div class="menu-extras">
          <div class="menu-item">
            <!-- Shopping cart-->
            <div class="cart-open">
              <a href="#">
                <i class="hc-bag"></i><span class="cart-number">2</span>
              </a>
              <div class="shopping-cart">
                <ul class="nav product-list">
                  <li>
                    <div class="product-thumbnail">
                      <img src="images/shop-15.jpg" alt="">
                    </div>
                    <div class="product-summary">
                      <a href="#">Premium Suit Blazer</a><span>$199.99</span>
                    </div>
                  </li>
                  <li>
                    <div class="product-thumbnail">
                      <img src="images/shop-16.jpg" alt="">
                    </div>
                    <div class="product-summary">
                      <a href="#">Reiss Vara Tailored Blazer</a><span>$199.99</span>
                    </div>
                  </li>
                </ul>
                <div class="mini-cart-info">
                  <h5>Cart Subtotal:<span class="pull-right">$124.00</span></h5>
                </div>
                <div class="cart-buttons">
                  <div class="cart-btn-item">
                    <a class="btn btn-color btn-sm btn-block" href="#">View Cart</a>
                  </div>
                  <div class="cart-btn-item">
                    <a class="btn btn-color-out btn-sm btn-block" href="#">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End shopping cart-->
          </div>
          <div class="menu-item">
            <div class="open-search-form">
              <a href="#">
                <i class="hc-search"></i>
              </a>
            </div>
          </div>
          <div class="menu-item toggle-nav">
            <!-- Mobile menu toggle-->
            <a class="menu-toggle" href="#">
              <div class="toggle-inner"></div>
            </a>
            <!-- End mobile menu toggle-->
          </div>
        </div>
        <div id="navigation">
          <ul class="navigation-menu nav">
            <li class="menu-item-has-children has-megamenu">
              <a href="#">Home</a>
              <ul class="submenu megamenu">
                <li class="menu-item-has-children">
                  <span>Home Layouts</span>
                  <ul class="sub-menu">
                    <li>
                      <a href="index.html">Classic Agency</a>
                    </li>
                    <li>
                      <a href="home-creative-agency.html">Creative Agency</a>
                    </li>
                    <li>
                      <a href="home-corporate.html">Corporate</a>
                    </li>
                    <li>
                      <a href="home-resume.html">Resume</a>
                    </li>
                    <li>
                      <a href="home-online-shop.html">Online Shop</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <span>Home Layouts</span>
                  <ul class="sub-menu">
                    <li>
                      <a href="home-architecture.html">Architecture</a>
                    </li>
                    <li>
                      <a href="home-restaurant.html">Restaurant</a>
                    </li>
                    <li>
                      <a href="home-photography.html">Photography</a>
                    </li>
                    <li>
                      <a href="home-construction.html">Construction</a>
                    </li>
                    <li>
                      <a href="home-gym.html">Fitness / Gym</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <span>Home Layouts</span>
                  <ul class="sub-menu">
                    <li>
                      <a href="home-startup.html">Startup</a>
                    </li>
                    <li>
                      <a href="home-app-landing.html">App Landing</a>
                    </li>
                    <li>
                      <a href="home-lawyer.html">Lawyer</a>
                    </li>
                    <li>
                      <a href="home-barber-shop.html">Barber Shop</a>
                    </li>
                    <li>
                      <a href="home-music.html">Music</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <span>Home Layouts</span>
                  <ul class="sub-menu">
                    <li>
                      <a href="home-product-landing.html">Product Landing</a>
                    </li>
                    <li>
                      <a href="home-travel.html">Travel</a>
                    </li>
                    <li>
                      <a href="home-event.html">Event</a>
                    </li>
                    <li>
                      <a href="home-wedding.html">Wedding</a>
                    </li>
                    <li>
                      <a href="home-spa.html">SPA</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">Pages</a>
              <ul class="submenu">
                <li class="menu-item-has-children">
                  <a href="#">About</a>
                  <ul class="submenu">
                    <li>
                      <a href="page-about.html">About Us</a>
                    </li>
                    <li>
                      <a href="page-about-me.html">About Me</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Services</a>
                  <ul class="submenu">
                    <li>
                      <a href="page-services.html">Services Creative</a>
                    </li>
                    <li>
                      <a href="page-services-simple.html">Services Simple</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Contact</a>
                  <ul class="submenu">
                    <li>
                      <a href="page-contact.html">Contact Creative</a>
                    </li>
                    <li>
                      <a href="page-contact-simple.html">Contact Simple</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">Portfolio</a>
              <ul class="submenu">
                <li class="menu-item-has-children">
                  <a href="#">Boxed</a>
                  <ul class="submenu">
                    <li>
                      <a href="portfolio-boxed-2-columns.html">2 Columns</a>
                    </li>
                    <li>
                      <a href="portfolio-boxed-3-columns.html">3 Columns</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Wide</a>
                  <ul class="submenu">
                    <li>
                      <a href="portfolio-wide-2-columns.html">2 Columns</a>
                    </li>
                    <li>
                      <a href="portfolio-wide-3-columns.html">3 Columns</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Single Work</a>
                  <ul class="submenu">
                    <li>
                      <a href="portfolio-single-1.html">Images Slider</a>
                    </li>
                    <li>
                      <a href="portfolio-single-2.html">Image Boxes</a>
                    </li>
                    <li>
                      <a href="portfolio-single-3.html">Video Project</a>
                    </li>
                    <li>
                      <a href="portfolio-single-4.html">Images Gallery</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">Blog</a>
              <ul class="submenu">
                <li><a href="blog-metro.html">Blog Metro</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Standard</a>
                  <ul class="submenu">
                    <li>
                      <a href="blog.html">No Sidebar</a>
                    </li>
                    <li>
                      <a href="blog-right-sidebar.html">Right Sidebar</a>
                    </li>
                    <li>
                      <a href="blog-left-sidebar.html">Left Sidebar</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Masonry Cards</a>
                  <ul class="submenu">
                    <li>
                      <a href="blog-masonry.html">Large Cards</a>
                    </li>
                    <li>
                      <a href="blog-masonry-small.html">Small Cards</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Single Post</a>
                  <ul class="submenu">
                    <li>
                      <a href="single-post.html">No Sidebar</a>
                    </li>
                    <li>
                      <a href="single-post-sidebar.html">Right Sidebar</a>
                    </li>
                    <li>
                      <a href="single-post-left-sidebar.html">Left Sidebar</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">Shop</a>
              <ul class="submenu">
                <li class="menu-item-has-children">
                  <a href="#">Shop Layout</a>
                  <ul class="submenu">
                    <li>
                      <a href="shop-2-col.html">2 Columns</a>
                    </li>
                    <li>
                      <a href="shop.html">3 Columns</a>
                    </li>
                    <li>
                      <a href="shop-4-col.html">4 Columns</a>
                    </li>
                  </ul>
                </li>
                <li><a href="shop-single.html">Single Product</a>
                </li>
                <li><a href="shop-cart.html">Cart</a>
                </li>
                <li><a href="shop-checkout.html">Checkout</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children has-megamenu">
              <a href="#">Elements</a>
              <ul class="submenu megamenu">
                <li><span>Elements</span>
                  <ul class="sub-menu">
                    <li>
                      <a href="elements-accordions.html">Accordions</a>
                    </li>
                    <li>
                      <a href="elements-alerts.html">Alerts</a>
                    </li>
                    <li>
                      <a href="elements-buttons.html">Buttons</a>
                    </li>
                    <li>
                      <a href="elements-countdowns.html">Countdowns</a>
                    </li>
                  </ul>
                </li>
                <li><span>Elements</span>
                  <ul class="sub-menu">
                    <li>
                      <a href="elements-grid.html">Grid</a>
                    </li>
                    <li>
                      <a href="elements-icon-boxes.html">Icon Boxes</a>
                    </li>
                    <li>
                      <a href="elements-icons.html">Icons</a>
                    </li>
                    <li>
                      <a href="elements-pricing-tables.html">Pricing Tables</a>
                    </li>
                  </ul>
                </li>
                <li><span>Elements</span>
                  <ul class="sub-menu">
                    <li>
                      <a href="elements-progress-bars.html">Progress Bars</a>
                    </li>
                    <li>
                      <a href="elements-sliders.html">Sliders</a>
                    </li>
                    <li>
                      <a href="elements-tabs.html">Tabs</a>
                    </li>
                    <li>
                      <a href="elements-typography.html">Typography</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- End Navigation Bar-->
    <section>
      <div class="container">
        <div class="single-product-details">
          <div class="row">
            <div class="col-md-6">
              <div class="flexslider nav-inside" id="product-slider">
                <ul class="slides">
                  <li data-thumb="images/shop-14-thumb.jpg">
                    <img src="images/shop-14.jpg" alt="">
                  </li>
                  <li data-thumb="images/shop-detail-1-thumb.jpg">
                    <img src="images/shop-detail-1.jpg" alt="">
                  </li>
                  <li data-thumb="images/shop-detail-2-thumb.jpg">
                    <img src="images/shop-detail-2.jpg" alt="">
                  </li>
                  <li data-thumb="images/shop-detail-3-thumb.jpg">
                    <img src="images/shop-detail-3.jpg" alt="">
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="title m-0">
                <h2 class="product_title entry-title">Coral Hoodie</h2>
              </div>
              <div class="single-product-price">
                <div class="single-product-price-details">
                  <h3><del>$34.99</del><ins>$29.00</ins></h3>
                </div>
                <div class="single-product-ratings"><span class="rating-stars">
<i class="hc-star full">
</i><i class="hc-star full">
</i><i class="hc-star full">
</i><i class="hc-star full">
</i><i class="hc-star-empty">
</i></span>
                </div>
              </div>
              <div class="single-product-desc">
                <h5>Description</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt illum nemo tempore praesentium incidunt quia blanditiis ea aliquam error ipsum excepturi aperiam vitae necessitatibus recusandae, rerum modi ab mollitia iure?</p>
              </div>
              <div class="single-product-add">
                <form class="inline-form" action="#">
                  <div class="input-group">
                    <input class="form-control" type="number" placeholder="QTY" value="1" min="1"><span class="input-group-btn"><button class="single_add_to_cart_button btn btn-dark" type="submit">Add to cart<i class="hc-bag"></i></button></span>
                  </div>
                </form>
              </div>
              <div class="single-product-list">
                <div class="product_meta">
                  <h5>Informations:</h5>
                  <p><span>Categories:</span><a href="#">Hoodies</a>,<a href="#">Women</a>
                  </p>
                  <p><span>Tags:</span><a href="#">Casual</a>,<a href="#">Hoodie</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="product-tabs mt-50">
            <ul class="nav nav-tabs boxed-tabs center-tabs" role="tablist">
              <li class="active" role="presentation"><a href="#first-tab" role="tab" data-toggle="tab">Description</a>
              </li>
              <li role="presentation"><a href="#second-tab" role="tab" data-toggle="tab">Sizes</a>
              </li>
              <li role="presentation"><a href="#third-tab" role="tab" data-toggle="tab">Reviews (3)</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="first-tab" role="tabpanel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum hic doloribus dolore explicabo, a voluptate optio culpa, aut nulla voluptatem sit nam sed molestias adipisci! Eius nulla beatae, quidem quae. Praesentium eveniet ullam quos
                  accusamus, ea nemo cupiditate. Nemo harum sit, necessitatibus voluptates, sapiente dolorum minima, placeat explicabo consequuntur at neque deserunt.</p>
                <p>Quidem illum, enim aut, minus nesciunt, distinctio inventore sunt autem numquam eveniet non asperiores unde! Corrupti modi minima doloremque, illum aperiam nemo.</p>
              </div>
              <div class="tab-pane" id="second-tab" role="tabpanel">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="upper">Size</th>
                      <th class="upper">Bust (CM)</th>
                      <th class="upper">Waist (CM)</th>
                      <th class="upper">Hips (CM)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>XS</td>
                      <td>78</td>
                      <td>60</td>
                      <td>83</td>
                    </tr>
                    <tr>
                      <td>S</td>
                      <td>80</td>
                      <td>62</td>
                      <td>86</td>
                    </tr>
                    <tr>
                      <td>M</td>
                      <td>88</td>
                      <td>65</td>
                      <td>88</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="third-tab" role="tabpanel">
                <div id="comments">
                  <ul class="comments-list">
                    <li class="rating"><span class="rating-stars">
<i class="hc-star full">
</i><i class="hc-star full">
</i><i class="hc-star full">
</i><i class="hc-star full">
</i><i class="hc-star-empty">
</i></span>
                      <h5 class="upper">Jesse Pinkman</h5><span class="comment-date">Posted on 29 September</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo voluptatem quo sit. Sint fugit quidem totam similique suscipit animi veniam reiciendis, unde facere quia, optio, at ad possimus perferendis asperiores.</p>
                    </li>
                  </ul>
                </div>
                <div id="respond">
                  <h5 class="upper">Leave a rating</h5>
                  <div class="comment-respond">
                    <form class="comment-form">
                      <div class="form-double">
                        <div class="form-group">
                          <input class="form-control" name="author" type="text" placeholder="Name">
                        </div>
                        <div class="form-group last">
                          <input class="form-control" name="email" type="text" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-select">
                          <select class="form-control">
                            <option value="" selected="selected">Chose a rating</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" placeholder="Comment"></textarea>
                      </div>
                      <div class="form-submit">
                        <button class="btn btn-color" type="button">Post Review</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="related products mt-50">
            <div class="title">
              <h5>Related Products</h5>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="products-row">
                <div class="product-col">
                  <div class="shop-product">
                    <div class="product-thumb">
                      <a href="shop-single.html">
                        <img src="images/shop-12.jpg" alt="">
                      </a>
                      <div class="product-overlay"><a href="#"><span class="add-to-cart-loop-text">Add to cart</span><i class="add-to-cart-loop-icon"></i></a>
                      </div>
                    </div>
                    <div class="product-info">
                      <h4><a href="shop-single.html">Marine Jacket</a></h4><span>$99.00</span>
                    </div>
                  </div>
                </div>
                <div class="product-col">
                  <div class="shop-product">
                    <div class="product-thumb">
                      <a href="shop-single.html">
                        <img src="images/shop-11.jpg" alt="">
                      </a>
                      <div class="product-overlay"><a href="#"><span class="add-to-cart-loop-text">Add to cart</span><i class="add-to-cart-loop-icon"></i></a>
                      </div>
                    </div>
                    <div class="product-info">
                      <h4><a href="shop-single.html">Slim Fit T-shirt</a></h4><span>$119.00</span>
                    </div>
                  </div>
                </div>
                <div class="product-col">
                  <div class="shop-product">
                    <div class="product-thumb">
                      <a href="shop-single.html">
                        <img src="images/shop-10.jpg" alt="">
                      </a>
                      <div class="product-overlay"><a href="#"><span class="add-to-cart-loop-text">Add to cart</span><i class="add-to-cart-loop-icon"></i></a>
                      </div>
                    </div>
                    <div class="product-info">
                      <h4><a href="shop-single.html">Black Leather Jacket</a></h4><span>$49.99</span>
                    </div>
                  </div>
                </div>
                <div class="product-col">
                  <div class="shop-product">
                    <div class="product-thumb">
                      <a href="shop-single.html">
                        <img src="images/shop-9.jpg" alt="">
                      </a>
                      <div class="product-overlay"><a href="#"><span class="add-to-cart-loop-text">Add to cart</span><i class="add-to-cart-loop-icon"></i></a>
                      </div>
                    </div>
                    <div class="product-info">
                      <h4><a href="shop-single.html">Dark Blue Sweat</a></h4><span>$99.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-md-7 ov-h">
            <div class="row">
              <div class="col-sm-4">
                <div class="widget clearfix">
                  <h5>About Dylan</h5>
                  <div class="textwidget">
                    <p>
                      <span>350 5th Ave</span>
                      <br><span>New York, NY 10118</span>
                      <br><span>hello@dylan.co</span>
                    </p>
                    <h5>+1 301-736-4321</h5>
                    <p>
                      <a class="mt-15 btn btn-color btn-sm" href="#">Contact Us</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="widget clearfix">
                  <h5>The Company</h5>
                  <div class="menu-footer-1-container">
                    <ul class="menu">
                      <li><a href="#">Who We Are</a>
                      </li>
                      <li><a href="#">Services</a>
                      </li>
                      <li><a href="#">Careers</a>
                      </li>
                      <li><a href="#">Culture</a>
                      </li>
                      <li><a href="#">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="widget clearfix">
                  <h5>Recent Posts</h5>
                  <ul>
                    <li><a href="#">Minimum Viable DevOps</a>
                    </li>
                    <li><a href="#">How to Get What You Want</a>
                    </li>
                    <li><a href="#">Answering Everything</a>
                    </li>
                    <li><a href="#">Startup Rules</a>
                    </li>
                    <li><a href="#">Email Can Wait</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <div class="row">
              <div class="col-md-12">
                <div class="widget clearfix">
                  <h5>Get Our Newsletter</h5>
                  <div class="footer-newsletter">
                    <p class="serif">Sign Up to get the latest updates.</p>
                    <form class="newsletter-form" data-mailchimp="true" data-url="http://hody.us12.list-manage.com/subscribe/post?u=d9d1052c1b2ba81576842a9fb&amp;id=c70c5d0c82">
                      <div class="input-group">
                        <input class="form-control" type="email" name="EMAIL" placeholder="Email"><span class="input-group-btn"><button class="btn newsletter-btn" type="submit">Subscribe</button></span>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="widget clearfix">
                  <h5>Follow Us</h5>
                  <ul class="social-list">
                    <li class="social-item-facebook"><a target="_blank" href="#"><i class="hc-facebook"></i></a>
                    </li>
                    <li class="social-item-twitter"><a target="_blank" href="#"><i class="hc-twitter"></i></a>
                    </li>
                    <li class="social-item-instagram"><a target="_blank" href="#"><i class="hc-instagram"></i></a>
                    </li>
                    <li class="social-item-dribbble"><a target="_blank" href="#"><i class="hc-dribbble"></i></a>
                    </li>
                    <li class="social-item-youtube"><a target="_blank" href="#"><i class="hc-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <footer id="footer">
      <div class="container">
        <div class="copy-text">
          <p>© 2016 Dylan. All rights reserved.</p>
        </div>
      </div>
    </footer>
    <div id="search-modal">
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <div class="search-form">
              <!-- Search Form-->
              <form class="searchform">
                <div class="input-group">
                  <input class="form-control" type="search" data-required="required" name="s" placeholder="Search..." value=""><span class="input-group-btn"><button class="btn btn-color" type="submit"><span><i class="hc-search"></i></span>
                  </button>
                  </span>
                </div>
              </form>
              <!-- End Search Form-->
            </div>
          </div>
        </div>
      </div>
      <a id="close-search-modal" href="#">
        <i class="hc-close"></i>
      </a>
    </div>
    <div class="go-top">
      <a href="#top">
        <i class="hc-angle-up"></i>
      </a>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bundle.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNGOsBBZo9vf0Tw4w6aJiilSTFVfQ5GPI"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>

</html>