@charset "UTF-8";

@font-face {
  font-family: "hodyicons";
  src:url("../fonts/hodyicons.eot");
  src:url("../fonts/hodyicons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/hodyicons.woff") format("woff"),
    url("../fonts/hodyicons.ttf") format("truetype"),
    url("../fonts/hodyicons.svg#hodyicons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon] {
  font-family: "hodyicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="hc-"],
[class*=" hc-"] {
  font-family: "hodyicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hc-arrow-up:before {
  content: "\e000";
}
.hc-arrow-right:before {
  content: "\e001";
}
.hc-arrow-left:before {
  content: "\e002";
}
.hc-arrow-down:before {
  content: "\e003";
}
.hc-alarm:before {
  content: "\e004";
}
.hc-album:before {
  content: "\e005";
}
.hc-albums:before {
  content: "\e006";
}
.hc-anchor:before {
  content: "\e007";
}
.hc-angle-down-circle:before {
  content: "\e009";
}
.hc-angle-left-circle:before {
  content: "\e00b";
}
.hc-angle-right-circle:before {
  content: "\e00d";
}
.hc-angle-up-circle:before {
  content: "\e00f";
}
.hc-arc:before {
  content: "\e010";
}
.hc-attention:before {
  content: "\e011";
}
.hc-back:before {
  content: "\e012";
}
.hc-back-2:before {
  content: "\e013";
}
.hc-ball:before {
  content: "\e014";
}
.hc-bandaid:before {
  content: "\e015";
}
.hc-battery:before {
  content: "\e016";
}
.hc-bell:before {
  content: "\e017";
}
.hc-bicycle:before {
  content: "\e018";
}
.hc-bluetooth:before {
  content: "\e019";
}
.hc-bookmarks:before {
  content: "\e01a";
}
.hc-bottom-arrow:before {
  content: "\e01b";
}
.hc-box1:before {
  content: "\e01c";
}
.hc-box2:before {
  content: "\e01d";
}
.hc-browser:before {
  content: "\e01e";
}
.hc-calculator:before {
  content: "\e01f";
}
.hc-call:before {
  content: "\e020";
}
.hc-camera:before {
  content: "\e021";
}
.hc-car:before {
  content: "\e022";
}
.hc-cart:before {
  content: "\e023";
}
.hc-cash:before {
  content: "\e024";
}
.hc-chat:before {
  content: "\e025";
}
.hc-check:before {
  content: "\e026";
}
.hc-clock:before {
  content: "\e027";
}
.hc-close:before {
  content: "\e028";
}
.hc-close-circle:before {
  content: "\e029";
}
.hc-cloud:before {
  content: "\e02a";
}
.hc-cloud-download:before {
  content: "\e02b";
}
.hc-cloud-upload:before {
  content: "\e02c";
}
.hc-coffee:before {
  content: "\e02d";
}
.hc-comment:before {
  content: "\e02e";
}
.hc-compass:before {
  content: "\e02f";
}
.hc-config:before {
  content: "\e030";
}
.hc-copy-file:before {
  content: "\e031";
}
.hc-credit:before {
  content: "\e032";
}
.hc-crop:before {
  content: "\e033";
}
.hc-culture:before {
  content: "\e034";
}
.hc-cup:before {
  content: "\e035";
}
.hc-date:before {
  content: "\e036";
}
.hc-delete-user:before {
  content: "\e037";
}
.hc-diamond:before {
  content: "\e038";
}
.hc-disk:before {
  content: "\e039";
}
.hc-diskette:before {
  content: "\e03a";
}
.hc-display1:before {
  content: "\e03b";
}
.hc-display2:before {
  content: "\e03c";
}
.hc-door-lock:before {
  content: "\e03d";
}
.hc-download:before {
  content: "\e03e";
}
.hc-drawer:before {
  content: "\e03f";
}
.hc-drop:before {
  content: "\e040";
}
.hc-edit:before {
  content: "\e041";
}
.hc-expand2:before {
  content: "\e042";
}
.hc-expand1:before {
  content: "\e043";
}
.hc-eyedropper:before {
  content: "\e044";
}
.hc-female:before {
  content: "\e045";
}
.hc-file:before {
  content: "\e046";
}
.hc-film:before {
  content: "\e047";
}
.hc-filter:before {
  content: "\e048";
}
.hc-flag:before {
  content: "\e049";
}
.hc-folder:before {
  content: "\e04a";
}
.hc-gift:before {
  content: "\e04b";
}
.hc-glasses:before {
  content: "\e04c";
}
.hc-gleam:before {
  content: "\e04d";
}
.hc-global:before {
  content: "\e04e";
}
.hc-graph:before {
  content: "\e04f";
}
.hc-graph1:before {
  content: "\e050";
}
.hc-graph2:before {
  content: "\e051";
}
.hc-graph3:before {
  content: "\e052";
}
.hc-gym:before {
  content: "\e053";
}
.hc-hammer:before {
  content: "\e054";
}
.hc-headphones:before {
  content: "\e055";
}
.hc-helm:before {
  content: "\e056";
}
.hc-help1:before {
  content: "\e057";
}
.hc-help2:before {
  content: "\e058";
}
.hc-home:before {
  content: "\e059";
}
.hc-hourglass:before {
  content: "\e05a";
}
.hc-id:before {
  content: "\e05b";
}
.hc-info:before {
  content: "\e05c";
}
.hc-joy:before {
  content: "\e05d";
}
.hc-junk:before {
  content: "\e05e";
}
.hc-key:before {
  content: "\e05f";
}
.hc-keypad:before {
  content: "\e060";
}
.hc-leaf:before {
  content: "\e061";
}
.hc-left-arrow:before {
  content: "\e062";
}
.hc-less:before {
  content: "\e063";
}
.hc-light:before {
  content: "\e064";
}
.hc-like:before {
  content: "\e065";
}
.hc-like2:before {
  content: "\e066";
}
.hc-link:before {
  content: "\e067";
}
.hc-lintern:before {
  content: "\e068";
}
.hc-lock:before {
  content: "\e069";
}
.hc-look:before {
  content: "\e06a";
}
.hc-loop:before {
  content: "\e06b";
}
.hc-magic-wand:before {
  content: "\e06c";
}
.hc-magnet:before {
  content: "\e06d";
}
.hc-mail:before {
  content: "\e06e";
}
.hc-mail-open:before {
  content: "\e06f";
}
.hc-mail-open-file:before {
  content: "\e070";
}
.hc-male:before {
  content: "\e071";
}
.hc-map:before {
  content: "\e072";
}
.hc-map-2:before {
  content: "\e073";
}
.hc-map-marker:before {
  content: "\e074";
}
.hc-medal:before {
  content: "\e075";
}
.hc-menu:before {
  content: "\e076";
}
.hc-micro:before {
  content: "\e077";
}
.hc-monitor:before {
  content: "\e078";
}
.hc-moon:before {
  content: "\e079";
}
.hc-more:before {
  content: "\e07a";
}
.hc-mouse:before {
  content: "\e07b";
}
.hc-music:before {
  content: "\e07c";
}
.hc-musiclist:before {
  content: "\e07d";
}
.hc-mute:before {
  content: "\e07e";
}
.hc-network:before {
  content: "\e07f";
}
.hc-news-paper:before {
  content: "\e080";
}
.hc-next:before {
  content: "\e081";
}
.hc-next-2:before {
  content: "\e082";
}
.hc-note:before {
  content: "\e083";
}
.hc-note2:before {
  content: "\e084";
}
.hc-notebook:before {
  content: "\e085";
}
.hc-paint:before {
  content: "\e086";
}
.hc-paint-bucket:before {
  content: "\e087";
}
.hc-paper-plane:before {
  content: "\e088";
}
.hc-paperclip:before {
  content: "\e089";
}
.hc-pen:before {
  content: "\e08a";
}
.hc-pendrive:before {
  content: "\e08b";
}
.hc-phone:before {
  content: "\e08c";
}
.hc-photo:before {
  content: "\e08d";
}
.hc-photo-gallery:before {
  content: "\e08e";
}
.hc-piggy:before {
  content: "\e08f";
}
.hc-pin:before {
  content: "\e090";
}
.hc-plane:before {
  content: "\e091";
}
.hc-plug:before {
  content: "\e093";
}
.hc-plugin:before {
  content: "\e094";
}
.hc-plus:before {
  content: "\e095";
}
.hc-portfolio:before {
  content: "\e096";
}
.hc-power:before {
  content: "\e097";
}
.hc-prev:before {
  content: "\e098";
}
.hc-print:before {
  content: "\e099";
}
.hc-radio:before {
  content: "\e09a";
}
.hc-refresh:before {
  content: "\e09b";
}
.hc-refresh-2:before {
  content: "\e09c";
}
.hc-refresh-cloud:before {
  content: "\e09d";
}
.hc-repeat:before {
  content: "\e09e";
}
.hc-ribbon:before {
  content: "\e09f";
}
.hc-right-arrow:before {
  content: "\e0a0";
}
.hc-rocket:before {
  content: "\e0a1";
}
.hc-safe:before {
  content: "\e0a2";
}
.hc-science:before {
  content: "\e0a3";
}
.hc-scissors:before {
  content: "\e0a4";
}
.hc-server:before {
  content: "\e0a6";
}
.hc-settings:before {
  content: "\e0a7";
}
.hc-share:before {
  content: "\e0a8";
}
.hc-shield:before {
  content: "\e0a9";
}
.hc-shuffle:before {
  content: "\e0ab";
}
.hc-signal:before {
  content: "\e0ac";
}
.hc-smile:before {
  content: "\e0ad";
}
.hc-speaker:before {
  content: "\e0ae";
}
.hc-stopwatch:before {
  content: "\e0b0";
}
.hc-study:before {
  content: "\e0b1";
}
.hc-sun:before {
  content: "\e0b2";
}
.hc-switch:before {
  content: "\e0b3";
}
.hc-target:before {
  content: "\e0b4";
}
.hc-ticket:before {
  content: "\e0b5";
}
.hc-timer:before {
  content: "\e0b6";
}
.hc-tools:before {
  content: "\e0b7";
}
.hc-trash:before {
  content: "\e0b8";
}
.hc-umbrella:before {
  content: "\e0b9";
}
.hc-unlock:before {
  content: "\e0ba";
}
.hc-up-arrow:before {
  content: "\e0bb";
}
.hc-upload:before {
  content: "\e0bc";
}
.hc-usb:before {
  content: "\e0bd";
}
.hc-user:before {
  content: "\e0be";
}
.hc-user-female:before {
  content: "\e0bf";
}
.hc-users:before {
  content: "\e0c0";
}
.hc-vector:before {
  content: "\e0c1";
}
.hc-video:before {
  content: "\e0c2";
}
.hc-voicemail:before {
  content: "\e0c3";
}
.hc-volume:before {
  content: "\e0c4";
}
.hc-volume1:before {
  content: "\e0c5";
}
.hc-volume2:before {
  content: "\e0c6";
}
.hc-wallet:before {
  content: "\e0c7";
}
.hc-way:before {
  content: "\e0c8";
}
.hc-wine:before {
  content: "\e0c9";
}
.hc-world:before {
  content: "\e0ca";
}
.hc-wristwatch:before {
  content: "\e0cb";
}
.hc-rain:before {
  content: "\e0cc";
}
.hc-ribbon-alt:before {
  content: "\e0cd";
}
.hc-shoe:before {
  content: "\e0ce";
}
.hc-map-pin:before {
  content: "\e0cf";
}
.hc-bicycle-vintage:before {
  content: "\e0d0";
}
.hc-angle-up:before {
  content: "\e008";
}
.hc-angle-right:before {
  content: "\e00a";
}
.hc-angle-left:before {
  content: "\e00c";
}
.hc-angle-down:before {
  content: "\e00e";
}
.hc-search:before {
  content: "\e0d2";
}
.hc-pinterest:before {
  content: "\e0aa";
}
.hc-linkedin:before {
  content: "\e0d1";
}
.hc-youtube:before {
  content: "\e0d3";
}
.hc-dropbox:before {
  content: "\e0d4";
}
.hc-facebook:before {
  content: "\e0d5";
}
.hc-github:before {
  content: "\e0d6";
}
.hc-google-plus:before {
  content: "\e0d7";
}
.hc-instagram:before {
  content: "\e0d8";
}
.hc-wordpress:before {
  content: "\e0d9";
}
.hc-vimeo:before {
  content: "\e0da";
}
.hc-twitter:before {
  content: "\e0db";
}
.hc-tumblr:before {
  content: "\e0dc";
}
.hc-stackoverflow:before {
  content: "\e0dd";
}
.hc-soundcloud:before {
  content: "\e0de";
}
.hc-pinterest-alt:before {
  content: "\e0df";
}
.hc-flickr:before {
  content: "\e0e0";
}
.hc-dropbox-alt:before {
  content: "\e0e1";
}
.hc-skype:before {
  content: "\e0e2";
}
.hc-twitter-alt:before {
  content: "\e0e3";
}
.hc-vimeo-alt:before {
  content: "\e0e4";
}
.hc-tumblr-alt:before {
  content: "\e0e5";
}
.hc-flickr-alt:before {
  content: "\e0e6";
}
.hc-dribbble:before {
  content: "\e0e7";
}
.hc-trello:before {
  content: "\e0e8";
}
.hc-apple:before {
  content: "\e0e9";
}
.hc-reddit:before {
  content: "\e0ea";
}
.hc-cultery:before {
  content: "\e0eb";
}
.hc-croissant:before {
  content: "\e0ec";
}
.hc-chef:before {
  content: "\e0ed";
}
.hc-drink:before {
  content: "\e0ef";
}
.hc-roast:before {
  content: "\e0f2";
}
.hc-wine-glass:before {
  content: "\e0f4";
}
.hc-fish:before {
  content: "\e0f0";
}
.hc-cupcake:before {
  content: "\e0ee";
}
.hc-blade:before {
  content: "\e0f8";
}
.hc-drill:before {
  content: "\e0f9";
}
.hc-food:before {
  content: "\e0a5";
}
.hc-crane:before {
  content: "\e0f3";
}
.hc-trowel:before {
  content: "\e0f5";
}
.hc-bag:before {
  content: "\e0f1";
}
.hc-play:before {
  content: "\e092";
}
.hc-groom:before {
  content: "\e0f6";
}
.hc-bride:before {
  content: "\e0f7";
}
.hc-hearts:before {
  content: "\e0fb";
}
.hc-rings:before {
  content: "\e0fa";
}
.hc-star-empty:before {
  content: "\e0fd";
}
.hc-star:before {
  content: "\e0af";
}
